*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(245, 233, 241);
}

.navbar{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    background-color: rgb(224, 186, 211);
}

.nav-links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 25px;
}

.nav-links li a{ 
    text-decoration: none;
    color:rgb(114, 71, 89)
}

.bio-hero {
    flex-basis: 100%;

}